.modo-claro {
  background-color: bisque;
  color: orangered;
}

.modo-escuro {
  background-color: black;
  color: red;
}

.botao-click, .botao-texto {
  cursor: pointer;
}

.centralizar-texto {
  text-align: center;
}